@CHARSET "UTF-8";

div#div_dortop {
    width: 100%;
    height: 33px;
    margin: 0;
    padding: 0 auto;
    position: relative;
    cursor: default;
    z-index: 100005;
    text-align: center;
    background: #92b6d5;
}
div_dorService{
	fonts-color="#FFFFFF"
}